div {
  ul {
    .one-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 17px;
      img {
      }
      p {
        font-weight: 500;
      }
    }
  }
}
