@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Quicksand&display=swap");

.wrapper {
  .menu {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    color: blue;
    align-items: center;
    list-style-type: none;
    font-family: "Quicksand", sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
    #logo {
      font-family: "Bungee Spice", cursive;
      font-size: 40px;
    }
  }

  .min-max-range {
    display: flex;
    justify-content: space-evenly;
  }
  .products-menu {
    .link-to-oneproduct {
      list-style-type: none;
      font-family: "Quicksand", sans-serif;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
      .list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .paginationBttns {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    cursor: pointer;
    .previousBttn {
      border: 1px solid black;
      padding: 12px;
      background-color: aqua;
    }
    .nextBttn {
      border: 1px solid black;
      padding: 12px;
      background-color: aqua;
    }

    .blabla {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 20px;
      #logo {
        font-family: "Bungee Spice", cursive;
        font-size: 50px;
      }
    }
    .products-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 100px;
      text-align: center;
    }
  }
}
